<div>
    <table>   
        <thead>
            <tr>
            <th>ID</th>
            <th>Autor</th>
            <th>Descrição</th>
            <th>Alterar</th>
            <th>Excluir</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of postagens">
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.body}}</td>
                <td><button (click)="editPostagem(item)">Editar</button></td>
                <td><button (click)="deletePostagens(item.id)"></button>Deletar</td>
            </tr>
        </tbody>
    </table>
    <div>
        <button (click)="addPostagem()">Crie uma Postagem</button>
    </div>
</div>